<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Some Website</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{!-- <link href="css/style.css" rel="stylesheet"> --}}
    </head>
    <body>
        <header>
            <h1>Node Web Server</h1>
            <p><a href="/">Home</a> | <a href="/about">About</a></p>
        </header>